<br>
<br>
<button class="right-align waves-effect waves-light amber darken-4 btn" onclick="location.href = '/';">Back to Home</button>
<h4 style="text-align: center">Made with 💜 by Harish Kumar for CMSC389K, Spring 2019</h4>
<br>
<p>This project was inspired by an experience my closest
    family members in India. In December 2015, historic
    rainfall plundered the city of Chennai in deadly floods.
    During this time, social media became a powerful force
    in connecting people around the city to aid and volunteers.
    Technology, when used right, really does have the power to
    bring the best of humanity. I made this app to 'simplify'
    the process of connecting people during emergencies.
</p>
<p>It's called HelpRadar. There are three layers. First, you  
    log in an emergency. Then, you enter a page made for that
    emergency, and list out all the tasks that need to be done,
    alongside their priorities. Then, for each task, a person
    can volunteer by logging in their name and phone number (and
    optionally their email). This is made possible by three
    MongoDB schemas.
</p>
<p>
    I use two new libraries: Materialize UI, and Tachyon. These
    are both UI libraries. Materialize is responsible for all 
    the design you are seeing right now! You can put Tachyon to
    work by hovering over the "HelpRadar" logo above...it should
    grow slightly! Yeah, Tachyon handles animation.
</p>
<p>
    Enjoy the app!
</p>